.App-logo {
  height: 30px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bottominfo {
  background-color: #282c34;
  height: 10vh;
}

.bottominfo-header {
  margin-left: 33vw;
  padding-top: 20px;
  margin-right: 33vw;
  font-size: 20px;
  color: white;
  width: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

