

.topMenu {
  background-color: #282c34;
  height: auto;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: 20px;
  color: white;
  width: auto;
}

.topMenuButtons {
    background-color: #282c34;
    color: white;
    border-top: none;
    border-bottom: none;
    border-left-color: darkblue;
    border-right: darkblue;
    height: 8vh;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.line {
    border-color: black;
    width: 100%;
}
