.solarSystemMap {
  height: 85vh;
  background-color: #38383B;
  width: auto;
  position: relative;
  overflow: hidden;
}
.satelliteLabel {
  color: #fff;
  font-family: sans-serif;
  padding: 2px;
  background: none;
}
.twoDRenderer {
  position: absolute;
  height: 85vh;
  width: auto;
  top: 0;
  border: none;
}
